<template>
  <div>
    <b-alert variant="success" show dismissible @dismissed="dismissed">{{ message }}</b-alert>
  </div>
</template>

<script>
export default {
  name: 'Alert',
  props: ['message', 'dismissed'],
};
</script>
