<template>
  <div class="container">
    <p><b>Pong!</b></p>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Ping',
  data() {
    return {
      msg: 'Hello!',
    };
  },
  methods: {
    getMessage() {
      const path = '/ping';
      axios.get(path)
        .then((res) => {
          this.msg = res.data;
        })
        .catch((err) => {
          // eslint-disable-next-line
          console.log(err);
        });
    },
  },
  created() {
    this.getMessage();
  },
};
</script>
